<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>{{ paramName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-button size="small" fill="outline" (click)="close()">Close</ion-button> -->

  <div *ngIf="chartLoaded" style="display: block;">
    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
      [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
  </div>

</ion-content>