<ion-card style="margin-bottom: 0px; margin-top: 0px;">
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div [ngSwitch]="state">
          <ion-spinner *ngSwitchCase="'Loading'"></ion-spinner>
          <ion-icon *ngSwitchCase="'Loaded'" color="success" name="checkmark-circle-outline"></ion-icon>
          <ion-icon *ngSwitchCase="'Failed'" color="danger" slot="start" name="alert"></ion-icon>
          <div *ngSwitchCase="'Initial'"><i>N/A</i></div>
          <div *ngSwitchDefault><i>N/A</i></div>
        </div>
      </ion-col>
      <ion-col size="1">{{ fullLap }}</ion-col>
      <ion-col size="4">{{ duration }}</ion-col>
      <ion-col size="5">{{ session }} - {{ lap }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-card>