<div>
  <ion-item lines="none">
    <ion-label [color]="color"> {{ state }} </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-button size="small" (click)="download()">Download File</ion-button>
  </ion-item>
  <ion-item *ngIf="error" lines="none">
    <ion-label [color]="color" text-wrap> {{ error }} </ion-label>
  </ion-item>
</div>