<ion-header>
  <ion-toolbar>
    <ion-title>
      Racing Sessions
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="sessionsParsed ? ['/laps'] : null" [color]="sessionsParsed ? 'success' : 'danger'"
        [fill]="sessionsParsed ? 'outline' : 'clear'">
        Show all Laps
        <!-- Analyze {{ sessionsSelected.length > 0 ? sessionsSelected.length : sessions.length }} -->
        <!-- <ion-icon slot="end" name="jet"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="sessionsSelected.length === 0" class="welcome-card">
    <ion-img src="/assets/flag.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to AMG Lap</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        With this app you can compare your lap data from your race sessions.
        All data is parsed and served by a backend server. Sessions must first be uploaded as a .csv file.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let session of sessionsSelected" size="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
        <app-session-card [sessionName]="session.sessionName" [venue]="session.venue" [vehicleId]="session.vehicleId"
          [user]="session.user" [date]="session.date" [time]="session.time" [fullLaps]="session.fullLaps" [duration]="session.duration"
          [datasetCount]="session.datasetCount" (closeMe)='removeCard($event)'></app-session-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="sessions.length === 0">
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>No session files found</ion-label>
      </ion-list-header>
    </ion-list>
  </div>

  <div *ngIf="sessions.length > 0">
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Uploaded Session Files</ion-label>
      </ion-list-header>
      <ion-grid>
        <ion-row *ngFor="let session of sessions; index as i;" [ngSwitch]="session.state">
          <ion-col size="9">
            <ion-item>
              <ion-checkbox color="medium" slot="start" [disabled]="(session.state !== 'Loaded') ? true : false"
                [(ngModel)]="session.isChecked" (click)="updateMetadata(session.name)"></ion-checkbox>
              <ion-label slot="start" class="list">{{session.name}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="3">
            <ion-item>
              <ion-spinner *ngSwitchCase="'Loading'" slot="start" (click)="presentPopover($event, session)"></ion-spinner>
              <ion-icon *ngSwitchCase="'Loaded'" color="success" slot="start" name="checkmark-circle-outline" (click)="presentPopover($event, session)"></ion-icon>
              <ion-icon *ngSwitchCase="'Failed'" color="danger" slot="start" name="alert" (click)="presentPopover($event, session)"></ion-icon>
              <div *ngSwitchCase="'Initial'"></div>
              <div *ngSwitchDefault></div>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>