<ion-header>
  <ion-toolbar>
    <ion-title>
      Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Key Parameters</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>Time</h2>
        </ion-text>
        <p>Current lap time measured at 50Hz frequency.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>Distance</h2>
        </ion-text>
        <p>Distance from the start line (the total lap distance is approx. 24km).</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>InlineAcc, LateralAcc, VerticalAcc</h2>
        </ion-text>
        <p>G-forces in 3 directions,</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>YawRate, RollRate, PitchRate</h2>
        </ion-text>
        <p>The velocity of the vehicle rotation in 3 directions.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>ECU_RPM</h2>
        </ion-text>
        <p>Engine revolutions per minute.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>ECU_THROTTLE</h2>
        </ion-text>
        <p>Throttle position.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>ECU_BRK_STATE</h2>
        </ion-text>
        <p>Brake pedal position.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>ECU_SPEED</h2>
        </ion-text>
        <p>Vehicle position.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>ECU_GEAR</h2>
        </ion-text>
        <p>Current gear.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>ECU_STER_ANG</h2>
        </ion-text>
        <p>The position of the steering wheel.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Tips & Notes</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>New lap</h2>
        </ion-text>
        <p>The laps are listed one after another in the rows of the Excel table. Use distance measure (24
          km = full lap) to distinguish the beginning of the new lap.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>Additional Parameters</h2>
        </ion-text>
        <p>The dataset contains other parameters that we didn’t describe but that may be useful
          for you. Explore them. Some of the parameters are irrelevant, or were not recorded correctly.
          Detect and filter them out.</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label text-wrap>
        <ion-text color="primary">
          <h2>Warm-up laps</h2>
        </ion-text>
        <p>Some laps, such as warm-up laps, are slower than other ones and should
          not be considered in the analysis. A fast lap time is somewhere around 9:20 min.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>