<ion-card [ngStyle]="{'background-color': highlight}">
  <div style="display: block">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
      [chartType]="barChartType"></canvas>
  </div>
  <ion-button size="small" fill="outline" (click)="presentModal()">Show complete data</ion-button>
</ion-card>