<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Select Laps </ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="(selected.length > 0) ? ['/graphs', {go: routeParams}] : null" [color]="(selected.length > 0) ? 'success' : 'danger'"
        [fill]="(selected.length > 0) ? 'outline' : 'clear'">
        Analyze {{ selected.length > 0 ? selected.length : null }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="displayTable">
    <ngx-datatable class="material fullscreen" [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50"
      [rowHeight]="'auto'" [footerHeight]="0" [scrollbarH]="false" [selected]="selected" [selectionType]="'multiClick'"
      (select)='onSelect($event)'>
    </ngx-datatable>
  </div>
</ion-content>