<ion-card style="margin-bottom: 0px; margin-top: 0px;" (click)="close(sessionName)">
  <ion-grid>
    <ion-row>
      <ion-col><i>{{ sessionName }}</i></ion-col>
      <ion-col align-self-end>{{ date }} - {{ time }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>{{ venue }} - {{ vehicleId }} - {{ user }}</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Laps:</ion-col>
      <ion-col>{{ fullLaps }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Duration:</ion-col>
      <ion-col>{{ duration }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">Datasets:</ion-col>
      <ion-col>{{ datasetCount }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-card>