<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Compare Laps </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let lap of displayLaps" size="12" size-sm="12" size-md="6" size-lg="4" size-xl="3">
        <app-lap-card [state]="lap.state" [fullLap]="lap.fullLap" [duration]="lap.duration" [session]="lap.session"
          [lap]="lap.lap"></app-lap-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="barChartsLoaded">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let chart of barCharts" size="12" size-sm="12" size-md="12" size-lg="6" size-xl="4">
          <app-bar-chart [barChartData]="chart.barChartData" [barChartLabels]="chart.barChartLabels"></app-bar-chart>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>